.data{
	color: red;
	background color: black;

	text-align: center;

}
.c{
	text-align: center;
	background-color: pink;


}
.os{
text-align: center;
background-color: #333;
}
.hum{
text-align: center;
background-color: #f1f1f1;
}
.math{
text-align: center;
background-color: skyblue;
}
.clab{
text-align: center;
background-color: yellow;
}
.wlab{
	text-align: center;
	background-color: pink;
}
h1{
	color: red;
 padding-right: 10px;
}